:root{
    --main: #454c5f;
    --main-light: #F5D061;
    --comp-dark: #E6AF2E;
    --comp-light: #ECECEC;
}
body.dark-theme {
    --main: #282F44;
    --main-light: #ada898;
    --comp-dark: #353842;
    --comp-light: #797979;
  }
html, body{
    height: 100vh;
}
* {
    transition: background-color .5s ease;
}
body{
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main);
    
}

.firstSection{
    flex: 5%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-light);
}
.firstSection-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55vh;
}
.firstSection-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstSection img{
    margin-top: 120px;
    padding: 20px;
    min-width: 30px;
    min-height: 30px;
    max-width: 50px;
    max-height: 50px;
}


.secondSection{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--main);
    flex: 40%;
    
}
.secondSection textarea{
    background-color: var(--main);
    padding: 10px;
    height: 45%;
    color: var(--main-light);
    margin: 20px;
    font-size: 3rem;
    border-radius: 15px;
    text-align:center;
    border: none;
    resize: none;
    
}
.secondSection .buttonGroup{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}
.secondSection button{
    border: 1px solid var(--main-light);
    text-decoration: none;
    text-transform: uppercase;
    height: 2.5rem;
    width: 16rem;
    border-radius: 10px;
    background-color: var(--main-light);
    color: var(--main);
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-color .5s ease;
}
.secondSection button:hover{
    border: 1px solid var(--main);
    opacity: 50%;
}
.secondSection button:active{
    border: 1px solid var(--main-light);
    background-color: var(--comp-light);
    box-shadow: 0 0 15px black;
    
}


.warning{
    color: var(--main-light);
    text-align: center;
    text-decoration: underline;

}
.thirdSection{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 5%;
    background-color: var(--main);
    flex: 40%;

}
.result {
    border: 2px solid var(--comp-dark);
    border-radius: 15px;
    height: 70%;
    width: 60%;
    margin: 0 20px;
    padding: 10px;
    background-color: var(--comp-light);
    box-shadow: 5px 5px 10px black ;
    display: flex;
    flex-direction: column;

}
.result .resultText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 90%;
    text-align: center;
    
}
.result .buttontContainer{

    text-align: end;
}
.buttontContainer button{
    height: 35px;
    color: var(--main);
    background-color: var(--main-light);
    border:1px solid var(--comp-light);
    border-radius: 10px;
    transition: background-color .5s ease;
}
.buttontContainer button:hover{
    border: 1px solid var(--main);
}
.buttontContainer button:active{
    box-shadow: 0px 0px 5px var(--main);
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 2.5vh;
    text-align: center;
    color: var(--main-light);
}
.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--main);
    border-color: var(--main) transparent var(--main) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 720px) {
    body{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #search{
        display: none;
    }
    
}
@media screen and (max-width: 1200px) {
    body{
        flex-direction: column;
        
    }
    .firstSection{
        flex: 0;
        flex-direction: row;

        justify-content:space-between;
        height: 10vh;
    }
    .firstSection-toggle{
        margin-top: 0;
    }
    .firstSection img{
        margin: 0;
    }
    .secondSection{
        flex: 30%;
    }
    .thirdSection{
        flex: 30%;
    }

}
